@font-face{
    font-family: Barlow;
    src: url('https://fonts.google.com/specimen/Barlow');
  }
@font-face{
    font-family: Fraunces;
    src : url('https://fonts.google.com/specimen/Fraunces');
}

.nav-link:hover{
    background-color: rgb(96, 194, 250);
}

.footerNav a:hover{
    background-color: hsl(167, 40%, 24%);
    color:white;
}
.footerNav a {
    color:hsl(167, 40%, 24%);
    
}
/* #headerSection{
    height: 98vh;
    width: 100vw;
} */
.learn1 {
    border-bottom: hsl(51, 100%, 49%) 5px solid;
    border-radius: 3px;
}
.learn2 {
    border-bottom: hsl(7, 99%, 70%) 5px solid;
    border-radius: 3px;
}
#graphicText{
    color:hsl(167, 40%, 24%)
}
#photographyText{
    color:hsl(198, 62%, 26%)
}
footer{
    background-color: hsl(168, 25%, 60%) 
}
.footerLogo{
    fill:hsl(167, 40%, 24%)
}
 
     